*{
  padding:0;
  margin:0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body{
  background-color: #fff;
}
/* control volume */
.control-volume{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

/* start memeory game */
.memory-game{
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

.memory-game::before{
  content: "";
  position: absolute;
  width:100%;
  left: 0;
  background-color:#999;
  height:2px;
  border: 1px solid;
  top:150px
}
.memory-game::after{
  content: "";
  position: absolute;
  width:100%;
  left: 0;
  background-color:#999;
  height:2px;
  border: 1px solid;
  bottom:0
}
.memory-game .memory-holder{
  margin-top:25px;
}
.memory-game .memory-holder .info{
  display: block;
  width: calc(100% - 100px);
  margin: auto;
  border:2px solid rgb(86, 160, 229); ;
  -webkit-box-shadow: 0 0 5px  rgb(94, 168, 237); ;
          box-shadow: 0 0 5px  rgb(94, 168, 237);;
  display:-webkit-box;;
  display:-ms-flexbox;;
  display:flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 25px;
  font-weight:bold;
  font-size:1.5rem;
  color:#fff;
  background-color: #000;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
.memory-game .memory-holder .info .line {
  width: 2px;
  height: auto;
  color:#fff;
  background-color: #fff;
  display: none;
}
.blocks-container{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width:1000px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px auto;
  position: relative;
  -webkit-transform:scale(0.8);
      -ms-transform:scale(0.8);
          transform:scale(0.8);
  top: -100px;
}
.blocks-container .game-block{
  height: 230px;
  position: relative;
  margin: 0 25px 35px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 160px;
          flex: 1 0 160px; 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-style:preserve-3d;
          transform-style:preserve-3d;
  cursor:pointer;
  -webkit-transition: 0.5s -webkit-transform;
  transition: 0.5s -webkit-transform;
  -o-transition: 0.5s transform ;
  transition: 0.5s transform ;
  transition: 0.5s transform, 0.5s -webkit-transform;
}
.blocks-container .game-block .face{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 5px  rgb(99, 174, 244);
          box-shadow: 0 0 5px  rgb(99, 174, 244);;
  -webkit-backface-visibility: hidden;;
          backface-visibility: hidden;
  border:2px solid rgb(71 131 186);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blocks-container .game-block .front{
  background-color: lightslategray;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);

  
}
.blocks-container .game-block .back{
  background-color: rgb(55, 54, 54);
}
.blocks-container .game-block .back::before{
  content:"?";
  position: absolute;
  font-size: 10rem;
  font-weight:bold;
  color:#fff;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  
}
.blocks-container img{
  max-width: 100%;
  width: 140px;
  height: calc(100% - 30px);
  -o-object-fit: cover;
     object-fit: cover;
}
.memory-game .overlay{
  position:absolute;
  background-color: rgba(64, 101, 171, 0.3);
  -webkit-box-shadow: inset 3px -71px 241px 20px rgb(64 101 171 / 30%);
          box-shadow: inset 3px -71px 241px 20px rgb(64 101 171 / 30%);
  width:100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 5;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  opacity: 1;
}
.memory-game .overlay .Message{
  position: absolute;
  top: 0%;
  background: #fff;
  width: 50%;
  color: #444;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  border-radius: 0;
  padding: 10px;
  -webkit-box-shadow:  0  0 80px rgb(51 95 162);
          box-shadow:  0  0 80px rgb(51 95 162);
  cursor: none;
}

.memory-game .overlay span{
  position: absolute;
  color:#fff;
  font-size:2.3rem;
  background-color:rgb(51, 95, 162);
  padding:7px 17px;
  border-radius:10px;
  top: 50%;
  left: 50%;
  -webkit-transform:translate(-50%,-50%);
      -ms-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
  cursor:pointer;
  z-index: 100;
  width: 250px;
}
.isflipped,
.hasMatched{
  -webkit-transform:rotateY(180deg);
          transform:rotateY(180deg)
}
.noclick{
  pointer-events:none;
}
/* start responsive */

/* Medium screens */
@media (min-width: 576px) and (max-width: 992px) {
  .memory-game .blocks-container {
    -webkit-transform:translateX(-50%) scale(0.8);
        -ms-transform:translateX(-50%) scale(0.8);
            transform:translateX(-50%) scale(0.8);
    position: relative;
    top: -50%;
    left: 50%;
  }
}
@media (max-width: 767px) {
  .memory-game {
    height: 100vh;
  }
  .memory-game .memory-holder {
    height: 100vh;
  }
  .memory-game .blocks-container {
    -webkit-transform:translate(-50%,-50%) scale(0.4);
        -ms-transform:translate(-50%,-50%) scale(0.4);
            transform:translate(-50%,-50%) scale(0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 29px;
  }
  .memory-game .memory-holder .info {
    width: calc(100% - 30px);
    padding:20px 15px;
    font-size: 20px;
  }
  .blocks-container .game-block {
    padding:0 19px ;
  }
}
@media (max-width: 280px) {
  .memory-game .blocks-container {
    -webkit-transform:translate(-50%,-50%) scale(0.3);
        -ms-transform:translate(-50%,-50%) scale(0.3);
            transform:translate(-50%,-50%) scale(0.3);
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .memory-game .memory-holder .info {
    width: calc(100% - 0px);
    padding:20px 15px;
    font-size: 15px;
  }
}

/* end responsive */
/* end coding */